html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul.list {
  padding: 0 26em;
}

ul.list li {
  list-style: none;
  text-align: left;
  margin-bottom: 6px;
  background: #d3d3d338;
  padding: 9px;
}

.list-name {
  padding-right: 10em;
}

.list-delete {
  float: right;
}
